cairocffi==1.2.0
CairoSVG==2.5.2
cffi==1.14.6
click==8.0.1
cssselect2==0.4.1
defusedxml==0.7.1
ghp-import==2.0.1
html5lib==1.1
importlib-metadata==4.6.1
Jinja2==3.0.1
Markdown==3.3.4
markdown-include==0.6.0
MarkupSafe==2.0.1
mergedeep==1.3.4
mkdocs==1.2.1
packaging==21.0
Pillow==8.3.1
pycparser==2.20
pyparsing==2.4.7
pyphen==0.11.0
python-dateutil==2.8.2
PyYAML==5.4.1
pyyaml-env-tag==0.1
six==1.16.0
tinycss2==1.1.0
watchdog==2.1.3
WeasyPrint==52.5
webencodings==0.5.1
zipp==3.5.0
